<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Consumer View</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/receiptitem.tpl.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,900">
    <!-- endbuild -->
  </head>

    <body data-spy="scroll" data-target="#myScrollspy" data-offset="15" ng-app="consumerviewApp">
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Scrollspy & Affix: Fixed vertical sidenav on scroll
   Scroll this page to see how the navbar behaves with data-spy="affix" and data-spy="scrollspy".</p>
   The left menu sticks the page after you have scrolled a specified amount of pixels, and the links
   in the menu are automatically updated based on scroll position.
   -->
    <header class="container-fluid" >
      <h1>Verbrauchersicht</h1>
    </header>

    <div class="container">
      <div class="row" ng-controller="ReceiptsCtrl">
        <nav class="col-sm-2" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
            <!-- TODO $index -->
            <li ng-repeat="receipt in receipts"><a ng-href="#$index"><span ng-bind="receipt.xmlreceipt.seller.sellername"></span>
              <span ng-bind="receipt.date"></span></a></li>
          </ul>
        </nav>
        <div class="col-sm-10">
          <div ng-repeat="receipt in receipts">
            <div id=#$index" class="col-sm-12">
              <h1 ng-bind = "receipt.xmlreceipt.seller.sellername"></h1>
              <receiptitem ng-repeat="ritem in receipt.xmlreceipt.itemlist.item" itemdata=ritem></receiptitem>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">FOOTER</footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/xml2json/xml2json.js"></script>
    <script src="../bower_components/x2js/xml2json.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-xml/angular-xml.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/receiptcrtl.js"></script>
        <!-- endbuild -->
</body>
</html>
